!
{% if bgp is defined %}
!
route-policy permit_all
  pass
end-policy
!
router bgp {{ bgp.as }}
 address-family ipv4 unicast
  redistribute connected
 bgp router-id {{ bgp.router_id }}
 {% for bgp_neighbour in bgp.neighbours %}
 neighbor {{ bgp_neighbour.peer_ip }} 
  remote-as {{ bgp_neighbour.remote_as }}
  address-family ipv4 unicast
   route-policy permit_all in
   route-policy permit_all out
!
 {% endfor %}
{% endif %}
!


